# core
-c constraints.txt
plone.distribution
z3c.jbot
i18ndude
{%- if cookiecutter.with_ldap %}
python-ldap
{%- endif %}

# libs

# connectors
{%- if cookiecutter.cache_system == 'memcached'%}
python-memcached
{%endif %}
{%- if cookiecutter.with_pil %}
Pillow>=5.3.0,<6.0.0
{%- endif %}
{%- if cookiecutter.with_ia_libs %}
# IASD
numpy
pandas
tensorflow
keras
begins
{%- endif %}
{%- if cookiecutter.with_sentry %}
# sentry (need requests)
raven==6.10.0
{%- endif%}
requests>=2.25.0

# leave those tools to let debug in hosted envs
remote-pdb
pdb_clone
