/bin
docker-compose*
/Dockerfile
/.gitlab-ci.yml
/include
/instance
/instance.yaml
/local/code
/local/local*
/local/media
/local/out
/local/private
/local/public
/local/regen.orig.sh
/local/regen.sh
/local/static
/local/tox*
/Makefile
/media
/node_modules
/.tox
/var
